@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  @apply flex flex-col justify-center items-center h-screen w-screen;
  @apply bg-gradient-to-br from-surface-900 to-primary-800;
}

.gradient {
  @apply bg-clip-text text-transparent box-decoration-clone;
  @apply bg-gradient-to-br;
  @apply from-primary-500 via-tertiary-500 to-secondary-500;
}

.title {
  @apply h1 font-semibold text-6xl;
}
